@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    background-color: hsl(200, 30%, 60%);
}

.option-selectors {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px 0px;
}

.display {
    margin: 0 15px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 200ms;
}

.display:hover {
    transform: scale(1.4);
}

.header {
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.btn {
    border: none;
    outline: none;
    background-color: rgb(94, 100, 109);
    color: white;
    border-radius: .2em;
    padding: 5px 10px;
    cursor: pointer;
    transition: 150ms;
}

.btn.btn-start {
    font-size: 1.75rem;
}

.btn.btn-start:hover {
    transform: scale(1.2);
    transition: 150ms;
}

label {
    color: white;
    font-size: 1.25rem;
    margin-right: 5px;
}

.center {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.selectors {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}